body {
    background-color:#6298a8;
    font-family: 'Oswald';
    font-size: 22px;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    background-color: #b2e0df;
}

.navbar {
    display:flex;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.navbar a{
    padding: 14px 16px;
}

.navbar a:hover {
    background-color: #647979;
    color: black;
}

.navbar a.active {
    background-color: #20867b;
    color: white;
}  


.search-container{
    background: #fff;
    height: 20px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    padding: 14px 16px;
}

.search-container:hover > .search-input{
    width: 400px;
}

.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}

.search-container .search-btn .fas{
    color: #5cbdbb;
}

@keyframes hoverShake {
  0% {transform: skew(0deg,0deg);}
  25% {transform: skew(3deg, 3deg);}
  75% {transform: skew(-3deg, -3deg);}
  100% {transform: skew(0deg,0deg);}
}

.search-container:hover{
  animation: hoverShake 0.15s linear 3;
}